" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

set hlsearch

set relativenumber number

set showmode

set visualbell

set clipboard+=unnamed

set ignorecase
set smartcase


let mapleader = " "

"" some plugins
set surround
set nerdtree
" set which-key

" Don't use Ex mode, use Q for formatting.
"map Q gq

" Remap some keybindings
nnoremap <Tab> :tabnext<CR>
nnoremap <S-Tab> :tabprev<CR>


" Pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j


" Easy visual indentation
vnoremap << <gv
vnoremap >> >gv

" Comment lines
map <C-/> <action>(CommentByLineComment)

map <C-e> :NERDTreeToggle<CR>

map <leader>rn <Action>(RenameElement)

nmap <leader>f  :action ReformatCode<CR>


" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
"nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gb <Action>(Back)
nmap <leader>gf <Action>(Forward)

" Move selected lines"
vnoremap <S-j> :m '>+1<CR>gv=gv
vnoremap <S-k> :m '<-2<CR>gv=gv


" Errors
"map <leader>lj <Action>(ReSharperGotoNextErrorInSolution)
"map <leader>lk <Action>(ReSharperGotoPrevErrorInSolution)
map <Leader>e <Action>(ShowErrorDescription)
nnoremap <leader>lj :action GotoNextError<CR>
nnoremap <leader>lk :action GotoPreviousError<CR>


" Delete instead of CUT"
nnoremap x "_x
nnoremap D "_D
nnoremap d "_d
vnoremap d "_d
xnoremap d "_d

" add S-x to implement original dd
nnoremap <S-x><S-x> dd
vnoremap <S-x><S-x> d
xnoremap <S-x><S-x> d


" dia daa cia caa
"set argtextobj

" die dae cie cae
"set textobj-entire

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
